<apex:page standardController="Case">
    <apex:includeScript value="/support/console/42.0/integration.js"/>
    <script>
    var cb = function(result) {
    	if (!result.success) {
            alert('error: ' + result);
        }
    };
    var url = '/apex/testVF?id={!Case.Id}';
    var tabName = 'Test';
    
    sforce.console.getEnclosingPrimaryTabId(function(pResult) {
        debugger;
        if (pResult.success) {
            // There is a primary tab!
            var primaryTabId = pResult.id;
            
            sforce.console.openSubtab(primaryTabId, url, false, tabName, null, function(result) {
                sforce.one.navigateToURL('/{!Case.Id}');
            });                
        } 
    });
    
    </script>
</apex:page>