<apex:page standardController="Case" lightningStylesheets="{!$User.UIThemeDisplayed == 'Theme4d'}" title="Title">
  
  <apex:sectionHeader title="Case" subtitle="{!Case.CaseNumber}"/>
  
  <apex:form >
      <apex:pageBlock title="Page Block">
          <apex:pageBlockButtons >
              <apex:commandButton value="Save" action="{!save}"/>
              <apex:commandButton value="Quick Save" action="{!quicksave}"/>
              <apex:commandButton value="Cancel" action="{!cancel}"/>
          </apex:pageBlockButtons>
          <apex:pageBlockSection title="Sec 1" collapsible="true" columns="2">
              <apex:inputField value="{!Case.ContactId}"/>
              <apex:inputField value="{!Case.Status}"/>
              <apex:inputField value="{!Case.Priority}"/>
          </apex:pageBlockSection>
          <apex:pageBlockSection title="Sec 2" collapsible="false" columns="1">
              <apex:inputField value="{!Case.Subject}"/>
              <apex:inputField value="{!Case.Description}"/>
          </apex:pageBlockSection>
      </apex:pageBlock>
  </apex:form>
   
</apex:page>