.THIS {
    width: 292px;
    background-color: #FFFFFF;
    font-family: ProximaNova, Arial, sans-serif;
}

.THIS.footer {
    text-align: center;
    font-size: 13px;
    padding: 5px 0 5px 0;
}

.THIS.title, .THIS.header {
    text-align: center;
    font-weight: 900;
    font-size: 18px;
    padding: 5px 0 5px 0;
}