.THIS.caseItem ul {
    list-style-type: none;
    padding: 0;
}

.THIS.caseItem .title {
    font-weight: 700;
    padding-bottom: 10px;
    font-size: 16px;
}

.THIS.caseItem .title img {
    width: 22px;
    margin-left: 8px;
    float: right;
}

.THIS.caseItem {
    font-family: ProximaNova, Arial, sans-serif;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F6;
    padding: 5px;
    color: #696e71;
    font-size: 14px;
    padding: 14px;
}