.THIS .dateTime-inputDate {
    display: none;
}

.THIS .dateTime-inputTime {
    margin-left: 0;
    width: 100%;
}

/* fix for when not in LEX */
.THIS .timePicker-openIcon {
    position: absolute;
    right: .75rem;
    left: auto;
    vertical-align: middle;
    bottom: 10px;
}

.THIS .height-fix {
    height: 2.125rem !important;
}

.THIS .width-fix {
    max-width: 12rem !important;
}

.THIS .width-fix-2 {
    max-width: 24rem !important;
}

.THIS .required {
    padding-left: 2px;
    color: rgb(194, 57, 52);
}

.THIS .mainContent {
    display: inline-block;
}

.THIS .toggle {
    display: hidden;
}